.menu-languages {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
  display: flex;
  gap: .5em;
  font: var(--font-small);

  a {
    color: var(--color-dim);
    display: block;
    border-radius: .3em;
    padding: .25em .5em;

    &[aria-current="page"] {
      text-decoration: none;
      color: var(--color-base);
      background-color: var(--color-line);
    }
  }
}