[build]
  publish = "_site"
  [context.production]
    command = """
      curl -fsSL https://deno.land/x/install/install.sh | sh && \
      /opt/buildhome/.deno/bin/deno task build && \
      tree . > _site/esolia_blog_tree.txt 
    """
  [context.deploy-preview]
    command = """
      curl -fsSL https://deno.land/x/install/install.sh | sh && \
      /opt/buildhome/.deno/bin/deno task build && \
      tree . > _site/esolia_blog_tree.txt && \
      envsubst < headers-dev > _site/_headers 
    """
  [context.branch-deploy]
    command = """
      curl -fsSL https://deno.land/x/install/install.sh | sh && \
      /opt/buildhome/.deno/bin/deno task build && \
      tree . > _site/esolia_blog_tree.txt
      envsubst < headers-dev > _site/_headers
    """ 

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    X-Powered-By = "Lume and Deno mixed with Blood Sweat and Tears"
    X-Custom-Header = "Rawr eSolia Tokyo"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    Permissions-Policy = "autoplay=(), camera=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), publickey-credentials-get=()"
    Link = "<https://blog.esolia.pro/feed.en.xml>; rel=alternate; type=application/atom+xml"
    Link = "<https://blog.esolia.pro/feed.ja.xml>; rel=alternate; type=application/atom+xml"
    Link = "<https://blog.esolia.pro/sitemap.xml>; rel=sitemap"
    Link = "<https://blog.esolia.pro/robots.txt>; rel=robots"
    Link = "<https://pubsubhubbub.superfeedr.com/>; rel=hub"
    Link = "<https://blog.esolia.pro/>; rel=canonical"
    Link = "<https://blog.esolia.pro/>; rel=self"
    Link = "<https://blog.esolia.pro/>; rel=alternate; hreflang=en"

[[redirects]]
from = "/en/*"
to = "/en/404.html"
status = 404

[[redirects]]
from = "/*"
to = "/404.html"
status = 404
