<!-- ===== cdn-preconnect.vto TEMPLATE START ===== -->
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
<link rel="preconnect" href="https://cdn.usefathom.com" crossorigin="anonymous">
<!-- ===== cdn-preconnect.vto TEMPLATE END ===== -->
