@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";
/* @plugin "daisyui@5.0.1"; */
/* @plugin "flyonui@latest"; */

@layer base {
  a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: theme("colors.gray.300");
  }
  a:hover {
    color: theme("colors.gray.950");
    text-decoration-color: theme("colors.gray.500");
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: textface, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*----------------------------
* 検索ボックス
*----------------------------*/
:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #034ad8;
  --pagefind-ui-text: #393939;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: textface, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  body.dark {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
  }
}


/*----------------------------
* Hamburger 開閉ボタン
*----------------------------*/
.mobile-menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #fff; */
  color: #fff;
  border: none;
}

/*----------------------------
* Hamburger Menu 本体
*----------------------------*/
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #808080;
  background-color: rgba(85, 85, 85, 0.7); /* Gray background with 70% opacity */
}
.mobile-menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

/*----------------------------
* Hamburger アニメーション部分
*----------------------------*/

/* Hamburger アニメーション前のメニューの状態 */
.mobile-menu {
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* Hamburger アニメーション後のメニューの状態 */
.mobile-menu.is-active {
  transform: translateX(0);
}

/* lume-google-fonts-here */